<section>
    <div class="text-center mx-5 p-3">
        <h1>clients</h1>
        <h2>Ils nous font confiance</h2>
    </div>
    <div class="container text-center p-5">
        <div class="row inline justify-content-between P-5">
            <div class="col-2 text-center p-4 mx-4">
                <h3 class="p-2">client1</h3>
                <img src="assets\img\acces-libre.png" class="customerImg" alt="">
            </div>
            <div class="col-2 text-center p-4 mx-4">
                <h3 class="p-2">client1</h3>
                <img src="assets\img\acces-libre.png" class="customerImg" alt="">
            </div>  
            <div class="col-2 text-center p-4 mx-4">
                <h3 class="p-2">client1</h3>
                <img src="assets\img\acces-libre.png" class="customerImg" alt="">
            </div>  
            <div class="col-2 text-center p-4 mx-4">
                <h3 class="p-2">client1</h3>
                <img src="assets\img\acces-libre.png" class="customerImg" alt="">
            </div>
        </div>
    </div>
</section>